// Place all the styles related to the recettes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
  background: $background;
  header {
    position: absolute;
    z-index: 10;
    width: 100%;
    text-align: right;
    .header-popup {
      position: fixed;
      z-index: 8;
      display: none;
      width: 160px;
      margin-top: 10px;
      border-radius: 8px;
      background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.75) 100%);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      &.search-popup {
        right: 10px;
        min-width: 136px;
        height: 22px;
        padding: 18px;
        transition: width 0.3s;
        #search {
          min-width: 50px;
          color: $font-body;
          border: 0;
          outline: 0;
          background: none;
          font-family: "Verala";
          font-size: 18px;
          display: block;
        }

      }
      &.tags-popup {
        right: 60px;
        width: 300px;
        height: auto;
        text-align: center;
        fieldset {
          line-height: 100%;
          .filter {
            display: inline-block;
            margin: 5px;
            padding: 4px 9px 5px;
            cursor: pointer;
            color: #5f656b;
            border: 2px solid #7a7f85;
            border-radius: 90px;
            background-color: rgba(255, 255, 255, 0);
            text-shadow: none;
            font-family: "Verala";
            font-size: 16px;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            &:focus {
              outline: 0;
            }
            &.active {
              color: $blanc;
              border: 2px solid $bordure-filtres;
              background: $bordure-filtres;
            }
          }
        }

      }
      &:after {
        position: absolute;
        top: -19px;
        right: 10px;
        display: block;
        width: 42px;
        height: 19px;
        content: "";
        background: url("triangle-popup.svg") 0 0 no-repeat;
        background-size: 42px 19px;
      }

    }
    h1 {
      float: left;
      color: $blanc;
      line-height: 75px;
    }
    #tools {
      height: 75px;
      margin-right: 30px;
      vertical-align: top;
      li {
        margin-left: 15px;
        display: inline-block;
        vertical-align: top;
        a {
          display: block;
          overflow: hidden;
          width: 30px;
          height: 75px;
          white-space: nowrap;
          text-indent: 100%;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          &#login {
            text-indent: 0;
            display: inline-block;
            width: auto;
            -webkit-transform: translateZ(0);
          }
          &.icon-search {
            background: url("search.svg") 50% 50% no-repeat;
            background-size: 30px 30px;

          }
          &.icon-tags {
            background: url("tags.svg") 50% 50% no-repeat;
            background-size: 30px 30px;
          }
        }
      }
    }

  }
  #container_grille {
    padding: 290px 0;
    display: flex;
    flex-wrap: wrap;
  }
  .mix {
    box-sizing: border-box;
    border: 10px solid transparent;
    position: relative;
    display: none;
    width: 20%;
    height: auto;
    list-style: none;
    > .container {
      display: block;
      border-radius: 5px;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 2px 2px 8px 2px rgba(0, 0, 0, 0.1);
      .card {
        transform-origin: 50% 0;
        transform: translate3d(0, 0, 0);
        border-radius: 5px;
        overflow: hidden;
        text-align: center;
        background-color: #fff;
        height: auto;
        z-index: 3;
        .safari & {
          -webkit-mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC");
        }
        &.big {
          height: 400px;
        }
        &.small {
          height: 300px;
        }
        .no-touch & {
          &:hover {
            .big-image {
              img {
                transform: translate3d(-50%, -30px, 0);
                transition: transform 0.3s ease;
              }

            }
            .etiquette {
              transform: translate3d(0, -50%, 0);
              transition: transform 0.3s ease;
              & > p {
                opacity: 1;
                transition: opacity 0.3s ease;
              }
            }
          }

        }
        .big-image {
          -webkit-backface-visibility: hidden;
          img {
            min-height: calc(100% - 104px);
            max-width: 100%;
            position: absolute;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            transition: all 0.4s cubic-bezier(0.42, 0, 0.57999, 1);
            -webkit-backface-visibility: hidden;
          }

        }
        .etiquette {
          position: absolute;
          bottom: 0;
          display: block;
          width: 100%;
          height: 104px;
          background-color: $blanc;
          transition: all 0.4s cubic-bezier(0.42, 0, 0.57999, 1);
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          h2 {
            width: 100%;
            display: inline-block;
            text-decoration: none;
            color: #3f3f3f;
            font-family: "Verala";
            font-size: 20px;
            padding: 15px 0;
          }
          & > p {
            opacity: 0;
            font-size: 14px;
            font-family: "Verala";
            text-align: justify;
            padding: 0 15px;
            color: #3f3f3f;
            transition: opacity 0.2s ease-in-out;
          }

        }
        ul {
          position: absolute;
          bottom: 6px;
          left: 14px;
          right: 14px;
          display: block;
          z-index: 10;
          li {
            margin: 0;
            position: relative;
            width: 33%;
            max-width: 88px;
            display: inline-block;
            .symbol {
              display: block;
              position: relative;
              height: 24px;
              width: auto;
              text-align: center;
              a {
                text-decoration: none;

              }
              .unlike:before {
                color: $liked;
              }
              .like:before {
                color: $default_picto;
              }

            }
            .text {
              display: block;
              pointer-events: none;
              top: 0;
              text-align: center;
              vertical-align: middle;
              color: #78879f;
              font-family: "Verala";
              font-size: 11px;
              margin: 5px 0 0;
            }
          }
        }
      }
    }
  }

}
.recette {
  .container {
    display: flex;
    flex-direction: row;
    .infos {
      position: relative;
      z-index: 1000;
      overflow: hidden;
      flex: 1;
      background-size: cover;
      background-position: center center;
      section {
        padding-top: 50px;
      }
      section {
        & > * {
          padding: 0 35px;
        }
        &#ingredients {
          ul {
            li {
              margin-bottom: 6px;
            }
          }

        }
        .personnes {
          button {

            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

            padding: 4px 9px 5px;
            color: rgba(255, 255, 255, 1);

            border-top-left-radius: 107px;
            border-bottom-left-radius: 107px;
            background: linear-gradient(-179deg, rgba(65, 65, 65, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
            box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
            text-shadow: none;
            border: 0;
            outline: 0;
            display: inline-block;
            margin: 0;
            font-family: "Verala";
            font-size: 18px;
            line-height: 22px;
            -webkit-font-smoothing: antialiased;
            &:last-of-type {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              border-top-right-radius: 107px;
              border-bottom-right-radius: 107px;
            }
            &.disable {
              color: rgba(255, 255, 255, 0.3);
            }
            &:active {
              background: linear-gradient(-179deg, rgba(65, 65, 65, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
            }

          }
          span {
            padding: 4px 9px 5px;
            letter-spacing: -1px;
            color: rgba(255, 255, 255, 1);
            background: linear-gradient(-179deg, rgba(65, 65, 65, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
            -moz-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
            text-shadow: none;
            display: inline-block;
            font-family: "Verala";
            font-size: 18px;
            line-height: 22px;
            -webkit-font-smoothing: antialiased;
          }
          p {
            display: inline-block;
            color: white;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            font-family: "Verala";
            font-size: 18px;
            line-height: 22px;
            -webkit-font-smoothing: antialiased;
          }

        }
        h3 {
          margin: 35px 0;
          text-transform: uppercase;
          color: $blanc;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
          font-family: "Verala";
          font-size: 24px;
          line-height: 29px;
          -webkit-font-smoothing: antialiased;
        }
        ul {
          li {
            margin-bottom: 14px;
            color: $blanc;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            font-family: "Verala";
            font-size: 18px;
            line-height: 22px;
            -webkit-font-smoothing: antialiased;
            &:last-child {
              margin-bottom: 50px;
            }
            .quantity {
              padding: 4px 9px 5px;
              letter-spacing: -1px;
              color: rgba(0, 0, 0, 0.65);
              border-radius: 107px;
              background: rgba(255, 255, 255, 0.74);
              -moz-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
              box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
              text-shadow: none;
              transition: width 1s cubic-bezier(0.645, 0.045, 0.355, 1);
              display: inline-block;
            }
            .unity {
              
            }

          }
          &.liste-avis {
            -webkit-transform: translate3d(0, 0, 0);
            //Fix flicker Safari
            -webkit-backface-visibility: hidden;
            li {
              display: block;
              width: 300px;
              -webkit-transform: translate3d(0, 0, 0);
              transform-origin: center top;
              opacity: 0;
              color: $font-body;
              border-radius: 20px;
              background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.85) 2%, rgba(255, 255, 255, 0.75) 100%);
              -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
              box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
              text-shadow: none;
              font-size: 18px;
              img {
                width: 54px;
                height: 54px;
                margin: 15px 0 0 15px;
                border-radius: 54px;
              }
              h4 {
                display: inline-block;
                margin: 32px 0 0 20px;
                vertical-align: top;
                font-family: "Verala";
              }
              p {
                margin-top: 5px;
                padding: 0 22px 14px;
                text-align: justify;
                font-size: 0.8em;
              }
              &:nth-child(2n) {
                margin-left: auto;
              }
            }
          }
        }
      }

    }
    #recette {
      background: $background;
      flex: 2;
      h2 {
        margin: 50px 0 7px 70px;
        color: $font-body;
        font-family: "Baskerville";
        font-size: 40px;
      }
      q {
        display: block;
        margin: 0 0 70px 70px;
        color: #888;
        font-size: 18px;
      }
      .recette-steps {
        margin-left: 70px;
        counter-reset: section;
        li {
          position: relative;
          margin: 0 30px 50px 65px;
          line-height: 23px;
          transition: opacity 0.2s ease;
          &.done {
            opacity: 0.3;
            .number {
              background: green !important;
            }

          }
          .number {
            position: absolute;
            top: -8px;
            left: -65px;
            display: inline-block;
            width: 35px;
            height: 35px;
            text-align: center;
            color: $blanc;
            border-radius: 35px;
            background: $etapes-recette;
            font-family: "Avenir Book";
            font-size: 20px;
            line-height: 38px;
            cursor: pointer;
          }
          .timer {
            position: relative;
            z-index: 0;
            display: inline-block;
            width: 60px;
            padding: 4px 9px 5px;
            cursor: pointer;
            transition: width 0.4s cubic-bezier(0.42, 0, 0.13, 1.8), color 0.4s ease;
            text-align: center;
            color: $font-temps;
            text-shadow: none;
            &:after {
              position: absolute;
              z-index: -2;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              content: "";
              border-radius: 50px;
              background: $fond-temps;
            }
            &.complete {
              color: #fff;
              &:after {
                background: #2c3c5a;
              }
              .progress.active {
                transition: opacity 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);
                opacity: 0;
              }

            }
            .progress {
              position: absolute;
              z-index: -1;
              top: 4px;
              left: 4px;
              width: 24px;
              height: 24px;
              -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.42, 0, 0.13, 1.4), opacity 0.4s cubic-bezier(0.42, 0, 0.13, 1.4);
              transition: transform 0.4s cubic-bezier(0.42, 0, 0.13, 1.4), opacity 0.4s cubic-bezier(0.42, 0, 0.13, 1.4);
              -webkit-transform: scale3d(0, 0, 1);
              transform: scale3d(0, 0, 1);
              opacity: 0;
              border-radius: 40px;
              background-image: linear-gradient(-180deg, #42d389 0%, #35c27a 100%);
              &.active {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}