$header: #324351;
$background: #fafafa;
$font-body: #2b3036;
$bordure-filtres: #585c61;
$fond-temps: #d1d1d1;
$font-temps: #212427;
$blanc: rgba(255, 255, 255, 1);
$etapes-recette: #d2bcac;
$liked: #c83762;
$default_picto: #78879f;